/*CSS RESET*/
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
} 
*{
    color:red;
    border : 0px solid red;
}

.container{
    text-align:center;
}
.buttons {
    background-color: #4046c4;
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}
.top-info{
 background-color: #4046c4
 box-sizing: border-box;
max-width: 100%;
font: inherit;
vertical-align: baseline;
display: flex;
text-decoration: none;
color: #F2F2F2;
align-items: center;
justify-content: space-evenly;
width: 100%;
margin-right: 50px;
}
 

html{
    font-size:62.5%;
}
h1{
    text-align: center;
}
body{
    font-size:1.6rem;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;	
}

a {	
    text-decoration: none;	
    color: black;
    font-size:2rem;	
}	
a:hover {	
    font-weight: bold;	
}	

.imaging {	
    height:39rem;	
    object-fit: cover;	
    display: block;	
    margin-bottom: 2%;
    margin-top:2%;	
    margin-left: auto;	
    margin-right: auto;	
    border-radius: 2%;	
    padding:14%;
    background:no-repeat;
}	
.opening{

    padding: 14%;
    color:blue;
}
.opening h1{
    text-align:center;
}

.placeholderOne{
    padding:15%;
}
footer {
    width: 100%;
    padding:8%;
    background: #fabea7;
}

footer nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}
.blue{width: 100%;
    padding:8%;
    background: #cff6cf;}
.white{width: 100%;
    padding:8%;
    background: #f6def6;}
    .ourTeam{ 
        padding:8%;
    background: #f6def6;
    display: flex;
    flex-wrap: wrap;
    }
    .container{
max-width: 100%;
color: #1B1A1A;
width: 45%;
margin-bottom: 5%;
display: flex;
flex-direction: column;
    }
    .container img{
max-width: 100%;
justify-content: center;
align-items: center;
color: #1B1A1A;
width: 30%;
    }
    .team{
max-width: 100%;
color: #1B1A1A;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 2%;
    }
footer nav a {
max-width: 100%;
letter-spacing: 1px;
border: 0;
vertical-align: baseline;
width: 2rem;
text-decoration: none;
border-radius: 5px;
background: #3B5998;
color: white;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
display: flex;
justify-content: center;
font-size: 1.5rem;
text-align: center;
margin: 0;
padding: 0.75rem 1.5rem;
}


